:root {
  font-size: max(calc(100vw / 1920), calc(100vh / 1080));
}

body {
  position: fixed; /* Always show address bar on mobile */
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
