@import './reset.css';
@import './base.css';

@font-face {
  font-family: Exo2;
  font-weight: normal; /* 400 */
  src: url('./fonts/Exo2-Medium.ttf');
}
@font-face {
  font-family: Exo2;
  font-weight: 600;
  src: url('./fonts/Exo2-SemiBold.ttf');
}
@font-face {
  font-family: Exo2;
  font-weight: bold; /* 700 */
  src: url('./fonts/Exo2-Bold.ttf');
}
@font-face {
  font-family: Sentencia;
  src: url('./fonts/Sentencia_1.ttf');
}
@font-face {
  font-family: MailartRubberstamp;
  src: url('./fonts/MailartRubberstamp-Regular.ttf');
}

#root {
  height: 100vh;
  font-family: Exo2, sans-serif;
  background-color: #1d1d1d;
  overflow: hidden;
}
#root * {
  cursor: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  padding: 4rem;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 3rem solid transparent;
  background-color: #383635;
  background-clip: padding-box;
  box-shadow: inset 0 0 1rem 1rem #000;
}
::-webkit-scrollbar-thumb:vertical {
  border-left: none;
  border-right: none;
}
::-webkit-scrollbar-thumb:horizontal {
  border-top: none;
  border-bottom: none;
  box-shadow: inset 0 0 1rem 1rem #000, inset 0 -1rem #000;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('./img/Kenshi_UI.png');
  background-size: 1920rem 1080rem;
  background-position: -544rem -452rem;
  width: 15rem;
  height: 9rem;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('./img/Kenshi_UI.png');
  background-size: 1920rem 1080rem;
  background-position: -544rem -476rem;
  width: 15rem;
  height: 9rem;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('./img/Kenshi_UI.png');
  background-size: 1920rem 1080rem;
  background-position: -566rem -472rem;
  width: 9rem;
  height: 15rem;
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('./img/Kenshi_UI.png');
  background-size: 1920rem 1080rem;
  background-position: -582rem -472rem;
  width: 9rem;
  height: 15rem;
}
