@import './reset.css';
@import './base.css';

@font-face {
  font-family: Exo2;
  font-weight: normal; /* 400 */
  src: url('./fonts/Exo2-Medium.ttf');
}
@font-face {
  font-family: Exo2;
  font-weight: 600;
  src: url('./fonts/Exo2-SemiBold.ttf');
}
@font-face {
  font-family: Exo2;
  font-weight: bold; /* 700 */
  src: url('./fonts/Exo2-Bold.ttf');
}
@font-face {
  font-family: Sentencia;
  src: url('./fonts/Sentencia_1.ttf');
}
@font-face {
  font-family: MailartRubberstamp;
  src: url('./fonts/MailartRubberstamp-Regular.ttf');
}

#root {
  height: 100vh;
  font-family: Exo2, sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
  height: 15px;
  padding: 4px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-color: #383635;
  background-clip: padding-box;
  box-shadow: inset 0 0 1px 1px #000;
}
::-webkit-scrollbar-thumb:vertical {
  border-left: none;
  border-right: none;
}
::-webkit-scrollbar-thumb:horizontal {
  border-top: none;
  border-bottom: none;
  box-shadow: inset 0 0 1px 1px #000, inset 0 -1px #000;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url('src/assets/Kenshi_UI.png');
  background-position: -544px -452px;
  width: 15px;
  height: 9px;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url('src/assets/Kenshi_UI.png');
  background-position: -544px -476px;
  width: 15px;
  height: 9px;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url('src/assets/Kenshi_UI.png');
  background-position: -566px -472px;
  width: 9px;
  height: 15px;
}
::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url('src/assets/Kenshi_UI.png');
  background-position: -582px -472px;
  width: 9px;
  height: 15px;
}
